@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: var(--foreground);
    margin: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: url(/assets/img/hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

:root {
    --primary: #171717;
    --secondary: #444444;
    --tertiary: #DA0037;
    --foreground: #EDEDED;
}

/********************************************
*   Containers
********************************************/
.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsiveness */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/********************************************
*   Navigation Bar and Menu
********************************************/

/* Mobile Nav Menu Button */
.mobile-menu div {
    height: 3px;
    width: 30px;
    border-radius: 50px;
    background-color: var(--foreground);
    position: absolute;
    transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile-menu div:nth-child(1) {
    top: 0;
}

.mobile-menu div:nth-child(2) {
    top: 8px;
}

.mobile-menu div:nth-child(3) {
    top: 16px;
}

.mobile-menu:hover div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.mobile-menu:hover div:nth-child(2) {
    opacity: 0;
}

.mobile-menu:hover div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;    
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-right: 15px;
    white-space: nowrap;
    text-decoration: none;
    cursor: default;
}
.navbar li:last-child a {
    margin-right: 0;
}

.navbar a:hover {
    color: var(--tertiary);
    font-weight: 700;
}

.active {
    color: var(--tertiary);
    font-weight: 700;
}

/********************************************
*   Header
********************************************/
#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header {
    color: var(--foreground);
    letter-spacing: 1.5px;
}

#header .container .hero-title {
    align-items: center;
    display: flex;
    position: relative;
}

#header .container .hero-title::before {
    content: "";
    width: 15px;
    display: inline-block;
    height: 3px;
    background: var(--foreground);
    margin-right: 10px;
}

#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

#header.header-top h1,
#header.header-top h2,
#header.header-top .hero-title ul li:first-child,
#header.header-top .hero-title::before,
#header.header-top span {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header.header-top .navbar {
    margin: 0;
}

.hero-title ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.hero-title ul li {
    display: inline;
    list-style-type: none;
}

.hero-title ul li:first-child {
    margin-right: 5px;
}

/********************************************
*   Sections
********************************************/
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
    color: #fff;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}