@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: var(--foreground);
    margin: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: url(/assets/img/hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

:root {
    --primary: #171717;
    --secondary: #444444;
    --tertiary: #DA0037;
    --foreground: #EDEDED;
}

/********************************************
*   Containers
********************************************/
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsiveness */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/********************************************
*   Header
********************************************/
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#header .container .hero-title {
    align-items: center;
    display: flex;
    position: relative;
}

#header .container .hero-title::before {
    content: "";
    width: 15px;
    display: inline-block;
    height: 3px;
    background: var(--foreground);
    margin-right: 10px;
}